.special_product_card{
    padding:20px 10px;
    border-radius: 10px;
    background-color: white;
}

.special_product_content .brand{
    color:var(--color-febd69);
}

.other_product{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}


.other_product > div{
    padding: 10px;
    border:  1px solid rgba(0, 0, 0, 0.1);
}


.discount_till p{
    font-size:14px;
    white-space: nowrap;
}

.progress_bar{
    background-color:green;
}

.progress{
    height: 0.5rem;
    margin-top: 10px;
}