.product_card{
    padding: 25px 15px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px #0000001a;
    min-height: 405px;
    min-width: 230px;
    width: 100%;
}

.product_item{
    position: relative;
}

.discount_percent{
    background-image: url(../assets//images/dis.svg);
    background-repeat: no-repeat;
    height: 31px;
    width: 80px;
    z-index: 99;
    position: absolute;
    top: -5px;
    left: -4px;
    font-size: 14px;
    text-align: center;
    line-height: 25px;
    color: white;
}

.action_bar{
    top:9%;
    right: 7px;
    transition: all 0.4s ease;
    opacity: 1;
    z-index: 99;
}

.action_bar div{
    cursor: pointer;
}

.action_bar .action_bar_item{
    transition: all 0.4s ease;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
}

.active{
    background-color: var(--color-febd69);
}

.action_bar .action_bar_item:hover{
    background-color: var(--color-febd69);
}

// .product_item:hover .action_bar{
//    right: 7px;
//    z-index: 999;
//    opacity: 1;
// }

.product_card .product_details{
    min-height: 158px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product_card .product_details h6{
    color: var(--color-bf4800);
    font-size: 13px;
}

.product_card .product_details h5{
    color: var(--color-1c1c1b);
    font-size: 15px;
}

.product_card .product_details .price{
    color: var(--color-1c1c1b);
    font-size: 16px;
}

.product_card .description{
    font-size: 13px;
    color: var(--color-777777);
}

.star_ratings .star_container {
    padding: 0 !important;
}


.wishlist_icon {
    right: 5px;
    top:-30px;
}

.product_card .product_image{
    height: 180px;
    transition: 0.4s;
}

.product_card .product_image img{
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.product_card .product_image > img:last-child{
    display: none;
}

.product_card:hover .product_image > img:first-child{
    display: none;
}

.product_card:hover .product_image > img:last-child{
    display: block;
}


