.filter_card{
    background-color: white;
    border-radius: 10px;
    padding: 10px 15px;

    .filter_tilte{
        font-size: 18px;
        line-height: 20px;
        font-weight: 600;
        color: var(--color-1c1c1b);
        margin-bottom: 20px;
    }
}

.filter_card ul,
.filter_card .form_check_label{
    font-size: 13px;
    line-height: 30px;
    color:var(--color-777777);
    cursor: pointer;
    padding-left: 5px;
}

.filter_card .form_check_input:focus{
    box-shadow: none;
    border-color: rgba(0, 0, 0, 0.25);
}

.filter_card .form_check_input:checked{
    background-color: var(--color-febd69);
    border-color: var(--color-febd69);
}

.sub_title{
    font-size: 14px;
    font-weight: 600;
    color: var(--color-1c1c1b);
    margin: 15px 0;
}

.colors{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
}

.colors li{
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
}

.form_check_input {
    margin-top: 0;
}

.random_products_left{
    width: 40%;
}

.filter_sort_grid p{
    white-space:nowrap;
}

.random_products_right{
    width: 60%;
}

.random_products h5{
    font-size: 14px;
    margin-bottom: 0;
}

.random_products:first-child{
    border-bottom: 1px solid var(--color-ededed);
}